*,
*:after,
*:before: {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0;
}

a {
    text-decoration: none;
    color: #111;
}

a:hover h2 {
    text-decoration: underline;
}

h1 {
    display: inline-block;
    font-weight: 100;
    margin: 0 0 0 0.5em;
}

h2 {
    font-weight: 400;
    margin: 0;
}

.header {
    background: #4caf50;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.5em 1em;
    z-index: 1;
}

.header i {
    padding-left: 0.5em;
    font-size: 1.75em;
    color: #fff;
}

.icon:hover {
    color: #eee;
    cursor: pointer;
}

.feed-navigation {
    display: inline;
    float: right;
    padding: 0.5em 2em 0 0;
}

.app-menu {
    position: absolute;
    top: 3.5em;
    padding: 1em;
    background: #4caf50;
    height: 90%;
    width: 10em;
    z-index: 1;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s;
}

.feed-list,
.favorite-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.favorite-title {
    color: #fff;
    border-bottom: #fff 1px solid;
}

.app-menu li {
    padding: 0;
}

.app-menu li a {
    color: #fff;
    display: inline-block;
    padding: 0.5em 0;
}

.favorite-div {
    margin-top: 5em;
}

.favorite-option,
.subtract-option {
    display: inline-block;
    float: right;
    padding-top: 1em;
    font-size: 0.75em;
    color: #fff;
}

.fa {
    cursor: pointer;
    color: #eee;
}

.menu-hidden .app-menu {
    transform: translate3d(-12em, 0, 0);
    transition: transform 0.2s;
}

.feed {
    margin: 4em 0 0;
    transform: translateZ(0);
    will-change: transform;
    z-index: -1;
}

.entry {
    border-bottom: 1px solid #ddd;
    padding: 1em;
    margin: 0.5em 0;
}